/*styling the page*/
body{
    background-image: url("../images/bg.jpg");    
}
h1{
    color: blue;
    font-size: 50px;
    text-align: center;
}
#start{
   border: rgb(137, 158, 41);
   left: 320px;
    color: black;
    border: 2px ;
    text-align: center;
    font-size: 50px;
    height: 100%;
    width: 40%;
    cursor: pointer;
    margin: auto;
    position: relative;
    top:200px;
    
}
#container,#result{
    background-color: aqua;
}

#btnSelect{
    font-size: 30px;
    text-align: center;
    background-color: goldenrod;

}